<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>This is a Sample Static About Page.</h1>
				<h2>It makes no databases requests, just gets a view.</h2>
				<p>
					Topping pudding cotton candy cake. Fruitcake soufflé tiramisu.
					Chocolate I love cake I love cake powder chocolate marshmallow candy.
					Sweet cake I love candy canes carrot cake pudding. Candy canes tootsie
					roll apple pie macaroon candy jujubes I love. Gummi bears gingerbread
					tiramisu jujubes I love cake dessert. Sweet halvah chocolate cake.
					Toffee cake chupa chups. Icing tart marzipan wafer cake gummi bears
					caramels. Powder lollipop soufflé pie chupa chups ice cream chocolate
					cake gummies lemon drops. Bear claw pie brownie I love gummi bears.
					Liquorice icing I love. Pie bonbon biscuit ice cream ice cream. Carrot
					cake soufflé bear claw muffin I love jujubes jujubes.
				</p>

				<p>
					Jelly-o sugar plum lollipop I love apple pie gummies chupa chups chupa
					chups. Oat cake jelly I love toffee I love gummi bears bear claw ice
					cream. Cookie pie cotton candy carrot cake gingerbread I love topping.
					Lollipop sesame snaps icing sesame snaps topping bonbon. Sweet roll
					pastry sugar plum tiramisu macaroon brownie. Biscuit apple pie candy
					canes cake pastry. Halvah cookie sweet roll chupa chups ice cream. I
					love lollipop topping bear claw chocolate cake I love cupcake chupa
					chups sugar plum. Liquorice cheesecake dessert jujubes bonbon danish.
					Candy canes jelly beans chocolate tart liquorice croissant. Tiramisu
					brownie cake chocolate bar I love halvah caramels halvah pie. Tootsie
					roll caramels chocolate bar wafer.
				</p>

				<p>
					Dessert cotton candy jelly beans icing biscuit biscuit cake
					gingerbread toffee. Pastry apple pie marzipan cupcake biscuit I love.
					Brownie danish apple pie. Gummies I love pie croissant cheesecake
					brownie marshmallow. Lollipop I love sweet roll cheesecake cake sugar
					plum bear claw sweet caramels. Jelly beans croissant chocolate cake
					chocolate apple pie I love sesame snaps cheesecake toffee. Ice cream
					candy canes sugar plum jelly-o. Bear claw jelly-o ice cream brownie
					pastry I love soufflé. Chupa chups powder bear claw pastry cake
					gingerbread I love. Cotton candy tiramisu dragée cotton candy bonbon
					gummi bears I love toffee jelly-o. Halvah jelly tart lemon drops
					icing. Croissant gummies cotton candy dragée I love wafer. Candy canes
					topping halvah candy icing marzipan jujubes.
				</p>

				<p>
					Dessert icing I love croissant chocolate oat cake biscuit I love.
					Gingerbread tart I love cookie candy canes. I love tart dessert
					fruitcake dragée. Jelly-o I love gummies pastry. Gummies I love
					chocolate bar jujubes. Tootsie roll chupa chups marshmallow topping
					chocolate bar. I love jelly-o sesame snaps soufflé sweet roll soufflé
					jelly-o chocolate apple pie. Bonbon caramels bonbon bear claw pudding
					topping I love. Candy canes I love liquorice dessert croissant jelly-o
					caramels donut icing. Marshmallow tiramisu donut powder oat cake
					bonbon. Sweet roll powder cookie candy canes cheesecake. Caramels I
					love I love tiramisu muffin pudding cake. I love chocolate bar cake
					jelly beans pie. Pudding caramels jelly beans lemon drops pudding
					cupcake cotton candy jelly-o pudding.
				</p>

				<p>
					Jelly beans cake cotton candy fruitcake jujubes. Marzipan pudding
					sugar plum chocolate cake marshmallow icing chocolate bar jujubes
					brownie. Candy jelly-o jujubes liquorice donut pudding. Dragée halvah
					lollipop. Cake chocolate cake cheesecake. Muffin dragée cookie
					chocolate cake I love. Sweet gummies I love gummi bears. Chocolate
					lollipop candy jelly beans caramels icing topping biscuit. Ice cream
					sugar plum bonbon. Cookie muffin sesame snaps bear claw halvah. Oat
					cake croissant jujubes caramels cake. Cotton candy fruitcake lemon
					drops I love. Halvah tart fruitcake tootsie roll cotton candy cake I
					love cookie chupa chups. Gummi bears jelly sesame snaps.
				</p>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
