<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>Welcome to Mr. Allen's Website!</h1>
				<p>
					<a
						href="https://docs.google.com/document/d/1EcsjEK9KwDvcsgIuTpryHa4OPXpmIVD9rYWM-zlhNmk/edit?usp=sharing"
						>Link to lab instructions</a
					>
				</p>
				<p>
					<a href="https://github.com/ronscode/SPA-Lab"
						>Link to starter repository files</a
					>
				</p>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
